@using AirCompanyExchangeWebApplication.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Air Company Exchange", "Login", "Companies", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (CurrentUser.User == null)
                    {
                        <li class="pull-right">@Html.ActionLink("Login", "Login", "Companies")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("My rents", "CompanyRents", "Rents")</li>
                        <li>@Html.ActionLink("Rent a planes", "AddRent", "Rents")</li>
                        <li>@Html.ActionLink("My planes", "CompanyPlanes", "Planes")</li>
                        <li>@Html.ActionLink("Add plane", "AddPlane", "Planes")</li>
                        <li>@Html.ActionLink("Add plane model", "AddPlaneModel", "Planes")</li>

                        <li class="pull-right">@Html.ActionLink("Log off", "Login", "Companies")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/i18n/en.js"></script>

    <script>
        $(document).ready(function () {
            $("select").select2();
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
